<div class="landing">
	<div class="landing-container valign-wrapper">
	  <div class="valign center-align">
	  	<div class="row">
		  	<div class="col s10 offset-s1">
	  			<div class="card-panel teal card-landing">
	  					<h5>Welcome to Fiber!</h5>
	  					<p>We are committed to finding you the <strong>newest styles</strong> from all the <strong>best brands</strong> in your area.</p>
	  					<p>Sign up for free &<br> find your next outfit now!</p>
	  			</div>
	  		</div>
	  	</div>
	    <div>
		    <%= link_to 'Login', new_user_session_path, class: "btn devise-btn" %>
	      <%= link_to 'Sign Up', new_user_registration_path, class: "btn devise-btn" %>
	    </div>
	    <div>
	      <%= link_to "Sign Up with Facebook", user_facebook_omniauth_authorize_path, class: "btn blue darken-4 devise-btn" %>
	    </div>
	  </div>
	</div>
</div>
