
<br/>
<br/>
<br/>

<%= render 'layouts/cover_video' %>
<div class="row">
  <div class="col m6 s12 offset-m3 center">
<br/>
<br/>
<br/>
<br/>
<br/>
    <%= link_to 'login', new_user_session_path, class: "btn btn-primary" %>
    <%= link_to 'register', new_user_registration_path, class: "btn btn-primary" %>

  </div>
</div>


<!-- @items.each do item
  item.name
  link_to "like this item", item_likes_path(item), method: post
end
 -->
