
<footer class="page-footer" id="footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row center-align footer-icon">
        <%= link_to searches_path do %>
          <div class="col s3">
            <i class="glyphicon social-icon glyphicon-search" style="color:#EAE7D5"></i>
          </div>
        <% end %>

        <%= link_to home_path do %>
          <div class="col s3">
            <i class="glyphicon social-icon glyphicon-home" style="color:#EAE7D5"></i>
          </div>
        <% end %>

        <%= link_to user_path(current_user) do %>
          <div class="col s3">
            <i class="glyphicon social-icon glyphicon-user" style="color:#EAE7D5"></i>
          </div>
        <% end %>

        <%= link_to edit_user_registration_path do %>
          <div class="col s3">
            <i class="glyphicon social-icon glyphicon-cog" style="color:#EAE7D5"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</footer>

