<!-- <div id = "footer" data-role="footer">
    <div data-role="navbar">
      <ul>
        <li><a href="#" data-role="button" data-icon="search">Search</a></li>
        <li><a href="#" data-role="button" data-icon="home">Home</a></li>
        <li><a href="#" data-role="button"  data-icon="grid">Profile</a></li>
        <li><a href="#" data-role="button"  data-icon="gear">Settings</a></li>
      </ul>
    </div>
  </div> -->

<div id="footer">
  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
  <div class="row" id="bottomNav">
    <div class="col-xs-3 text-center"><a href="#"><i class="glyphicon glyphicon-search"></i></a></div>
    <div class="col-xs-3 text-center"><a href="#"><i class="glyphicon glyphicon-home"></i></a></div>
    <div class="col-xs-3 text-center"><a href="#"><i class="glyphicon glyphicon-user"></i></a></div>
    <div class="col-xs-3 text-center"><a href="#"><i class="glyphicon glyphicon-cog"></i></a></div>
  </div>
  </div>
