<!-- <div class="header">
  <div class="banner">
    <%= image_tag "fiber.png", class: "image" %>
  </div>
</div> -->

<div class="header-top">
  <div class="header-wrap">
    <div class="header-content">
      <%= image_tag "fiber.png", class: "image" %>
  </div>
  </div>
</div>
