.header {
  z-index: 999;
  position: fixed;
  min-height: 2px;
  width: 100%;
  background-color: $red;
  height: 65px;
  border-bottom: 1px solid $gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  height: 100%;
  margin-top: 2vh;
}
