// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

@import "materialize";

.footer-icon {
  font-size: 30px;
}

.social-icon {
  color: white;
  &:hover {
    color: grey;
  }
  &:active{
    border-color: white;
    border-left-color: black;
    border-top-color: black;
    color: white;
    background-color: #adadad;
}
}

.padding-bottom-100{
  padding-bottom: 100px;
}
