// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "profile_header";
@import "modal";
@import "card";
@import "materialize";
@import "landing";

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: black !important;
}

.full-screen-video{
  z-index: -10;
  width: 316%;
  left: -61%;
  bottom: 0%;
}

.footer-icon {
  font-size: 30px;
}

.social-icon {
  color: white;
  &:hover {
    color: grey;
  }
  &:active{
    border-color: white;
    border-left-color: black;
    border-top-color: black;
    color: white;
    background-color: #adadad;
}
}

.padding-bottom-100{
  padding-bottom: 100px;
  word-wrap: break-word;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.button-margin-top{
  margin-top: 10px;
}

/* Text inputs */
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  background-color: white !important;
  border: 1px solid #eee !important;
}

select {
  display: inline-block !important;
}





/*Landing page styling of moving letters */

.letter-container h2 p {
  color: grey;
  text-align: center;
  font-size: 40px;
  line-height: 160px;
  display: block;
  padding-bottom: 30px;
  mask: image-url("mask.png") repeat;
}
.letters-container {
  z-index: 8000;
}

.letter-container h2 p span {
  font-size: 60px;
    opacity: 1;
    text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
  transition: all 0.3s linear;
  animation: sharpen 0.9s linear backwards;
}
.letter-container h2 p span:hover{
  text-shadow: 0px 0px 40px #fff;
}
.letter-container h2 p span:nth-child(1) {
  animation-delay: 0s;
}
.letter-container h2 p span:nth-child(2) {
  animation-delay: 0.1s;
}
.letter-container h2 p span:nth-child(3) {
  animation-delay: 0.2s;
}
.letter-container h2 p span:nth-child(4) {
  animation-delay: 0.3s;
}
.letter-container h2 p span:nth-child(5) {
  animation-delay: 0.4s;
}
/* ...and so on for all the letters */

@keyframes sharpen {
 0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #fff;
    color: transparent;
 }
 90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #fff;
    color: transparent;
 }
 100% {
    color: #fff;
    opacity: 1;
    text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}

#container{
  padding-top: 60px;
}

main{
      padding-top: 18px !important;
}
