.card { width:180px !important;
  height:534px !important;
}

.card-content{
  height: 180px;

}.card-title{
      height: 70px;
    overflow: hidden;
}

.card .card-content .card-title {
  line-height: 30px !important;
}
