
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
}

.devise-btn {
  margin-top: 10px;
  min-width: 130px;
}

.landing {
  background-image: image-url("fashion-background.jpg") !important;
  height: 100vh;
  background-size: cover;
      line-height: 3.4;
      margin-top: -28px;

}

.card-landing {
  background-color: white !important;
  font-size: 12px;
  line-height: 20px;
  box-shadow: 5px 5px 44px 10px rgba(0,0,0,0.45);
}
