.modal {
   max-height: 100% !important;
   width: 90% !important;
 }
.modal-image{
  max-height: auto;
  max-width: 80%;
}

// .modal-action {
//     color: #ffab40;
//     margin-right: 20px;
// }

.btn-flat a{
  color: #ffab40 !important;
}
