item = $('[data-item=<%= @item_like.item.id %>]')
likeCount = item.find('.like-count').html()
likeCount = parseInt(likeCount) + 1
item.find('.like-count').html(likeCount)
item.find('.like-btn').html('')
item.find('.unlike-btn').html('<a data-remote="true" rel="nofollow" data-method="delete" href="/items/<%= @item_like.item.id %>/item_likes/<%= @item_like.id %>">unlike</a>')

