// function delete_row(e)
// {
//     e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
// }


item = $('.card[data-item=<%= @item_like.item.id %>]')
if ( $('.profil.item').length > 0 ) {
  console.log(item)
  item.parent().remove();
} else {
  likeCount = item.find('.like-count').html()
  likeCount = parseInt(likeCount)
  if ( likeCount != 0 ) {
    likeCount = likeCount - 1
    item.find('.like-count').html(likeCount)
    item.find('.unlike-btn').html('')
    item.find('.like-btn').html('<a data-remote="true" rel="nofollow" data-method="post" href="/items/<%= @item_like.item.id %>/item_likes">like</a>')
  }
}

modal = $('.modal[data-item=<%= @item_like.item.id %>]')
modalLikeCount = modal.find('.like-count').html()
modalLikeCount = parseInt(modalLikeCount)
if ( modalLikeCount != 0 ) {
  modalLikeCount = modalLikeCount - 1
  modal.find('.like-count').html(modalLikeCount)
  modal.find('.unlike-btn').html('')
  modal.find('.like-btn').html('<a data-remote="true" rel="nofollow" data-method="post" href="/items/<%= @item_like.item.id %>/item_likes">like</a>')
}

userLikeCount = $('.user-like-count').html()
userLikeCount = parseInt(userLikeCount) - 1
$('.user-like-count').html(userLikeCount)

